#f {
    background-color:rgb(180, 25, 58);
    display: flex;
    height: 300px;
    position: relative;
    z-index: -1;
    color: white;
    h1 {
        position: relative;
    }
    transition: 1s;

}

#f-c {
    margin: auto;
    width: 90vw;
    max-width: 800px;
    display: flex;
    height: 300px;
    opacity: 0;
}

#f-l, #f-r {
    position: fixed;
    bottom: 0px;
    // z-index: -31;
    mix-blend-mode: difference;
    max-width: calc(800px / 2);
    width: calc(90vw / 2);
    p {
        // z-index: -40
    }
}

#f-r {
    left: 50%;
}

.showFooter {
    opacity: 1 !important;
}