.p {
    height: 100vh;
    // width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #F3C05F;
    position: relative;
}

.p-i {
    width: 60vw;
    height: 70vh;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: white;
}

.p-t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.p-tc {
    color: #F3C05F;
    z-index: 90;
    position: sticky;
    top: 41vh;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    h1, h2 {
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
    }
    h2 {
        font-weight: normal;
        font-style: italic;
    }
}