.p {
    height: 100vh;
    // width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.p-i {
    max-width: 800px;
    width: 90vw;
    height: 70vh;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: grey;
}

.p-t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    a:hover {
        text-decoration: none;
    }
}

.p-tc {
    z-index: 90;
    position: sticky;
    top: 46vh;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    h1, h2 {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    h2 {
        font-weight: normal;
        font-style: italic;
    }
}