#tp {
    display: flex;
    background: white;
    flex-direction: column;
}

.tp-c {
    // margin: auto;
    // max-width: 800px;
    // width: 90vw;
}

#tp-h {
    display: grid;
    margin: auto;
    max-width: 800px;
    width: 90vw;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    h1, h2, h3, h4 {
        margin-block-start: 0.5px;
        margin-block-end: 0.5px;
    }
    h1 {
        font-weight: normal;
        font-size: 25px;
    }
    h2 {
        font-weight: normal;
        font-size: 20px;
        color: rgb(165, 165, 165);
    }
    h3 {
        font-weight: normal;
        font-size: 18px;
    }
    h4 {
        font-weight: normal;
        font-size: 18px;
        color: rgb(165, 165, 165);
    }
    a {
        font-weight: normal;
        color: rgb(165, 165, 165);
    }
    a:hover {
        text-decoration: underline;
    }
}

.tp-h-bh {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.tp-h-b {
    margin-top: 20px;
}

#tp-i {
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    img {
        width: 100%
    }
}

.l {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    h4, .l-bar{
        transition: .4s;
    }
    .l-bar {
        margin-top: 3px;
        height: 1px;
        width: 100%;
        background-color: rgb(165, 165, 165);
    }
}

.l:hover {
    cursor: pointer;
    h4 {
        color: black !important;
    }
    .l-bar {
        background-color: black;
    }
    text-decoration: none !important;
}

.tp-desc p {
    font-size: 16px !important;
}

// .l-i {
//     h4 {
//         color: black !important;
//     }
//     .l-bar {
//         background-color: black !important;
//     }
// }

.c-block {
    margin: auto;
    max-width: 800px;
    width: 90vw;
    margin-top: 30px;
    li {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.c-image figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    img {
        display: block;
        max-width: 800px;
        width: 90vw;
        margin: auto;
    }

}

.c-image-full figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 10px;
    img {
        display: block;
        width: 100vw;
        margin: auto;
    }

}

.c-it {
    max-width: 800px;
    width: 90vw;
    display: flex;
}

.c-it-image {
    width: 50%;
    figure {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        img {
            width: 100%;
        }
    }
    padding-right: 10px;
}
.c-it-text {
    width: 50%;
    padding-left: 10px;
}

.c-bar {
    height: 1px;
    width: 90vw;
    max-width: 800px;
    background-color: black;
}

@media only screen and (max-width: 800px) {
    #tp-h {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
    .c-it {
        flex-direction: column;
    }
    .c-it-image, .c-it-text {
        width: 100%;
    }
}
