@font-face {
    src: url('../assets/Circular/CircularStd-Book.ttf');
    font-family: 'Circular';
}

@font-face {
    src: url('../assets/Circular/CircularStd-BookItalic.ttf');
    font-family: 'Circular';
    font-style: italic;
}

@font-face {
    src: url('../assets/Circular/CircularStd-Bold.ttf');
    font-family: 'Circular';
    font-weight: bold;
}

body {
    font-family: 'Circular';
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 18px;
}

.link-c {
    display: flex;
    justify-content: space-between;
}

.arrow {
    background-image: url('../assets/link-icon-white.svg');
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    margin-top: 4px;
}